/* //target id// */
/* #p1{
    color:red ;
    background-color: royalblue;
    
} */

/* target class ko/// */
/* .para2{
    color: white;
    background-color: black;
} */
/* ///element name/// */
/* h1{
    color: brown;
    background-color: grey;

} */

h1{
    color: white;
    background-color: brown;
}